<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brew Journal</title>
    <script src="/static/htmx-1.9.10.min.js"></script>
    <script src="/static/reload.js"></script>
    <link href="/static/output.css" rel="stylesheet" />
  </head>
  <body>
    <h1 class="text-3xl text-cyan-800">Hello world!</h1>
    <ul>
      {{range .Todos}} {{if .Done}}
      <li>{{.Title}}</li>
      {{else}}
      <li class="text-red-800">{{.Title}}</li>
      {{end}} {{end}}
    </ul>
    {{template "clickMe"}}
  </body>
</html>
