{{define "content"}}
<div id="content">
  <!-- <div class="flex justify-center">
  <img
    src="/placeholder.svg"
    width="64"
    height="64"
    alt="Brew Journal Logo"
    style="aspect-ratio: 64 / 64; object-fit: cover"
  />
</div> -->
  <h2 class="text-3xl text-center">Login to your account</h2>

  <form id="login-form">
    <div class="space-y-2 mt-8">
      <label class="text-sm font-medium leading-none" for="username">
        Username
      </label>
      <input
        class="px-3 py-2 h-10 w-full rounded-md border border-emerald-300 text-emerald-950"
        id="username"
        name="username"
        placeholder="Enter your username"
        type="text"
        required
      />
    </div>

    <div class="space-y-2 mt-8">
      <label class="text-sm font-medium leading-none" for="password">
        Password
      </label>
      <input
        class="px-3 py-2 h-10 w-full rounded-md border border-emerald-300 text-emerald-950"
        id="password"
        name="password"
        type="password"
        required
      />
    </div>
  </form>

  <button
    class="h-10 px-4 py-2 mt-8 w-full bg-emerald-800 hover:bg-emerald-600 rounded-md"
    id="login-button"
    hx-post="/api/account/login"
    hx-target="#content"
    hx-swap="outerHTML"
    hx-include="#login-form"
    hx-push-url="/"
  >
    Login
  </button>

  <a
    class="text-sm mt-4 hover:underline cursor-pointer"
    id="login-button"
    hx-post="/api/account/create"
    hx-target="#content"
    hx-swap="outerHTML"
    hx-include="#login-form"
    hx-push-url="/"
  >
    Create account
  </a>
</div>
{{end}}
